@model UpdateProfileDTO
@{
    ViewData["Title"] = "Edit";
}


<div class="register-box offset-4">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="../../index2.html" class="h1"><b>Admin</b>LTE</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Edit</p>

            <form asp-action="Edit" asp-controller="Account" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />
                <span asp-validation-for="UserName" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="UserName" type="text" class="form-control" placeholder="User name">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="input-group mb-3">
                    <input asp-for=Password type="password" class="form-control" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="input-group mb-3">
                    <input asp-for="ConfirmedPassword" type="password" class="form-control" placeholder="Confirmed Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                        <span asp-validation-for="ConfirmedPassword" class="text-danger"></span>
                    </div>
                </div>
                <input type="hidden" asp-for="Id" />
                <span asp-validation-for="UploadPath" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="UploadPath" type="file" class="form-control" placeholder="Upload Photo">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-camera"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <a asp-action="Index" asp-controller="Home" class="btn btn-primary btn-block">Back To Home</a>
                    </div>
                    <div class="col-6">

                        <input type="submit" class="btn btn-success btn-block" value="Edit Profile" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>