@model CategoryVM


<h2 class="text-ligth mt-3">Delete Category</h2>

<form asp-controller="Category" asp-action="delete" method="post">
    <fieldset>
        <div class="form-group">

            <label asp-for="Id" class="form-label mt-4">@Html.DisplayNameFor(x=>x.Id)</label>
            <input asp-for="Id" class="form-control" disabled />
            <input type="hidden" asp-for="Id" class="form-control" />

        </div>


        <div class="form-group">
            <label asp-for="Name" class="form-label mt-4">@Html.DisplayNameFor(x=>x.Name)</label>
            <input asp-for="Name" class="form-control" disabled />

        </div>

        <div class="form-group">
            <label asp-for="Description" class="form-label mt-4">@Html.DisplayNameFor(x=>x.Description)</label>
            <input asp-for="Description" class="form-control" disabled />

        </div>


        <button type="submit" class="btn btn-primary mt-3">Delete The Category</button>
    </fieldset>
</form>
<a class="btn btn-danger mt-3" asp-controller="Category" asp-action="index">Back To List</a>



